
#chat-section{
  width: 100%;
  height: 600px;
}

#sidebar{
  background: #F5F5F5;
  border: 2px solid #e7e6e6;
  box-sizing: border-box;
  -webkit-flex: 1;
  flex: 1;
}

#sidebar h3{
  text-align:center;
  margin: 10px 0px; 
}

#sidebar #chat-request{
 padding: 10px;
 background-color: #E8E8E8;
}

#main{
  width: 20%;
  background: #fff;
  border: 2px solid #e7e6e6;
  padding: 10px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-flex: 5;
  flex: 5;
}


#previous{
  display: block;
  text-align: center;
}
    
.chat-container{
  padding: 10px;
  margin: 0;
}

.chat-container:hover{
    cursor: pointer;
}

.chat-container .recent-read{
  color:#787878;
   margin-top:10px
}

.chat-name{
    font-weight: bold;
}

.darker {
  border-color: #ccc;
  background-color: #E8E8E8;
}

.lighter{
  border-color: #ffffff;
  background-color: #ffffff;
}

#message-form{
  position: absolute;
  bottom: 10px;
  width: 94%;
  margin-left: 20px;
}

#message-form #message-input{
  height: 38px;
  width: 60%;
  background: #F5F5F5;
  margin:  0;
  padding: 0;
  padding-top: 5px;
  padding-left: 10px;
  border:  1px solid #d3d3d3;
  outline: 0;
  font-size: 14px;
  resize: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  overflow-y:hidden;
  white-space: pre-wrap;
}

#message-form #submit{
  display: block;
  color:blue;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}

#message-form #submit:hover{
  cursor: pointer;
}

.pre-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  z-index: 1000;

 }

.scrollbar{
  margin-left: 30px;
  float: left;
  overflow-y: scroll;
  margin-bottom: 25px;
}

#bubble-dialog::-webkit-scrollbar-track{
  border: none;
  background-color: #F5F5F5;
}

#bubble-dialog::-webkit-scrollbar{
  width: 6px;
  background-color: #F5F5F5;
}

#bubble-dialog::-webkit-scrollbar-thumb{
  background-color:#acacac;  
}

#load-more{
  text-align: center;
  color: #707070;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100px; /* Need a specific value to work */

}

#load-more i:hover{
  cursor: pointer;
}

#message-error{
  display: table;
  text-align: center;
  width:100%
}

#message-error p{
  display:table-cell;
  vertical-align:middle;
  height:440px;
  font-size:18px;
  font-weight:bold;
  color:#A9A9A9
}

[data-letters-before]:before {
  content:attr(data-letters-before);
  display:inline-block;
  font-size:1em;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background:plum;
  vertical-align:middle;
  margin-right:1em;
  color:white;
  }

[data-letters-after]:after {
  content:attr(data-letters-after);
  display:inline-block;
  font-size:1em;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background:plum;
  vertical-align:middle;
  margin-left:1em;
  color:white;
}
