.vertical-center-fixed{
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.remove{
  display:none;
}

.show{
  display: block;
}

.hide{
  visibility: hidden;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.clear-fix:after{
	content: "";
	display: block;
	clear: both;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    background-color: red;
    min-height: 100%;
}