.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.remove{
  display:none;
}

.show{
  display: block;
}

.hide{
  visibility: hidden;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.clear-fix:after{
	content: "";
	display: block;
	clear: both;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    background-color: red;
    min-height: 100%;
}