#home-section{
  height: auto;
  width: 90%;
  padding-top: 20px;
  margin:auto;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

#header{
  width: 87%;
  margin:auto;
  margin-bottom: 20px;
  height: 50px;
}

#header > div{
  height: 100%;
  width: 70%;
  padding-left: 30px;
  padding-right: 100px;
  box-sizing: border-box;
}

#header > div button{
  display: inline-block;
  border-radius: 4px;
  width:110px;
  padding:8px 10px;
  background:#e2202c;
  color:white;
  border:1px solid #e2202c;
}

#header > div button:hover{
  cursor: pointer;
}


#home-main .col-1{
  width: 60%;
  height:100vh;
  box-sizing:border-box;
  margin-right: 20px;
}

#home-main .col-2{
  width: 25%;
  min-height: 300px;
  padding: 10px;
  box-sizing:border-box;
  position: relative;
}

#newsfeed{
  padding: 10px;
}

#newsfeed .post{
   border-radius: 25px;
   min-height:400px;
   width:90%;
   background:#fff;
   margin-bottom: 20px;
}

.post .post-header{
  padding: 15px 20px 10px 20px;
}

.post .post-header > img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid #efefef;
  margin-right: 12px;
}

.post .post-header > img:hover{
  cursor: pointer;
}

.post .post-header > div p{
  color: #707070;
  font-size: 14px;
}

.post .post-subheader{
  padding: 0px 20px 20px 20px; 
}

.post .post-subheader > div{
  width: 50%;
}

.post .post-subheader .header{
  width: 100%;
  margin-bottom: 10px;
}

.post .post-subheader .header > div{
  height: 100%;
   width: 50%;
   box-sizing:border-box;
}

.post .post-subheader .header .location > *,
.post .post-subheader .header .work > *{
  display: block;
}

.post .post-subheader .header .location > img,
.post .post-subheader .header .work > img{
  width: 10%;
}


.post .post-subheader .header .location > span,
.post .post-subheader .header .work > span{
  font-size: 11px;
  color: #707070;
  height: 100%;
  width: 90%;
}
.post .post-subheader .header .location > span:hover{
  text-decoration: underline;
  cursor: pointer;
}

.post .post-subheader p{
  color: #707070;
  font-size: 13px;
}

.post .post-content{
  padding:10px 20px 10px 20px;
  min-height: 150px;
}

.post-content .post-description{
  min-height: 100px;
}

.post .post-content > *{
  margin-bottom: 10px;
}

.post-content .post-tags{
  list-style-type: none;
}

.post-content .post-tags li{
  border-radius: 5px;
  display: inline-block;
  background: #fff;
  padding: 3px 7px 3px 7px;
  border: 1px solid #d3d3d3;
  font-size: 12px;
  margin-right: 5px;
}

.post-content .post-tags li:hover{
  cursor: pointer;
}

.post-footer .like{
  padding: 5px 0px 5px 20px;
  border-top: 2px solid #efefef;
}

.post-footer .like > *{
  display: inline-block;
  height: 20px;
  margin-right: 10px;
}

.post-footer .actions{
  padding-left: 10px;
  padding-right: 10px;
  border-top: 2px solid #efefef;
  border-bottom: 1px solid  #efefef;
}

.post-footer .actions > span{
  width: 33.33%;  
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

.post-footer .actions > span:hover{
  cursor: pointer;
}

.post-footer .actions > span:not(:last-child){
  border-right: 2px solid #efefef;
}

.post-footer .comment-section{
  padding: 5px 10px 10px 5px;
  flex-direction: column;
}

.post-footer .comment-section .comments{
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.post-footer .comment-section .comments .comment{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.post-footer .comment .bubble-container{
  display: inline-block;
  min-width: 100px;
  padding: 15px;
  border-radius: 30px;
  background: #eee;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.post-footer .comment .bubble-container p:first-child{
  font-weight: bold;
  margin-bottom: 3px;
}

.post-footer .comment .bubble-container + p{
  font-size: 12px;
  color: #707070;
  margin-left: 3px;
}

.post-footer .comment-section .comments .comment > div:first-child{
  width: 7%;
   box-sizing: border-box;
}

.post-footer .comment-section .comments .comment > div:last-child{
  width: 95%;
  padding-left:5px;
  padding-right: 5px;
   box-sizing: border-box;
}


.post-footer .comment-section .input {
  display: flex;
}

.post-footer .comment-section .input > div:first-child{
  width: 9%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px 0 5px 5px;
}

.post-footer .comment-section .input > div:last-child{
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  padding: 6px 6px 0 6px;
}

.post-footer .comment-section img{
  border-radius: 50%;
  border: 1px solid #efefef;
  height: 40px;
  width: 40px;
  display: block;
}

.post-footer .comment-section img:hover{
  cursor: pointer;
}

.post-footer .comment-section textarea{
  width: 100%;
  padding: 10px;
  margin:  auto;
  outline: 0;
  font-size: 14px;
  resize: none;
  overflow-x:hidden;
  white-space: pre-wrap;
  box-sizing: border-box;
}

#suggestions {
  border-radius: 25px;
  background: #fff;
  width: 100%;
  min-height: 310px;
  height: 420px;
  box-sizing:border-box;
  padding: 30px;
}

#suggestions ul{
  list-style-type: none;
}

#suggestions li img.avatar{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid #efefef;
  margin-right: 12px;
}

#suggestions li {
  padding: 10px;
}

#suggestions li:hover{
  cursor: pointer;
}


#suggestions > div{
  margin-bottom: 20px;
}

.color-like{
 color: #0275d8;
}