#home-section{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 75%;
  padding-top: 20px;
  margin:auto;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

#header{
  width: 87%;
  margin:auto;
  margin-bottom: 20px;
  height: 50px;
}

#header > div{
  display: flex;
  height: 100%;
  width: 70%;
  padding-left: 30px;
  padding-right: 100px;
  box-sizing: border-box;
  justify-content: space-between;
}

#header > div button{
  display: inline-block;
  border-radius: 4px;
  height: 40px;
  width:110px;
  padding:8px 10px;
  background:#e2202c;
  color:white;
  border:1px solid #e2202c;
}

#header > div button:hover{
  cursor: pointer;
}

#home-main{
  display: flex;
  height: auto;
  margin-bottom: 50px;
}

#home-main .col-1{
  width: 70%;
  height:auto;
  box-sizing:border-box;
  margin-right: 20px;
  padding: 10px;
}

#home-main .col-2{
  width: 30%;
  min-height: 300px;
  padding: 10px;
  box-sizing:border-box;
  position: relative;
}

#suggestions {
  border-radius: 25px;
  background: #fff;
  width: 100%;
  min-height: 420px;
  box-sizing:border-box;
  padding: 30px;
  margin:auto;
}

#suggestions ul{
  list-style-type: none;
}

#suggestions li img.avatar{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid #efefef;
  margin-right: 12px;
}

#suggestions li {
  padding: 10px;
}

#suggestions li:hover{
  cursor: pointer;
}


#suggestions > div{
  margin-bottom: 20px;
}

