* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}

html,body {
  height:100%;
  background: #efefef;
}


#root-container{
  height: 100vh;
  width: 100%;
  margin: auto;
  overflow: hidden;

}

#container{
  height: 100%;
  width: 100%;
  margin: auto;
  overflow-y: auto;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.social-media .fa:hover{
  opacity: 0.7;
}

.social-media .fa{
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


ul.breadcrumb {
  margin-bottom: 20px;
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}