.modal {
  padding-top: 50px;
  background-color: white;
  border: 1px solid #e2202c;
  box-sizing: border-box;
  padding: 10px;
  display: none;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-content {
  width: 100%;  
  height: 100%;
  display: flex;
}

.modal .modal-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal .modal-footer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-footer button{
  display:inline-block; 
  border-radius: 4px;
  width:110px;
  padding:4px 5px;
  margin-right: 10px;
}

.modal-footer button.save{
  background:#e2202c;
  color:white;
  border:1px solid #e2202c
}

.modal-footer button.cancel{
   background:#fff;
  color:#222;
  border:1px solid #222
  margin-right:20px;
}

.modal-footer button:hover{
  cursor: pointer;
}

.close {
  float: right; 
  color: lightgray; 
  font-size: 24px;  
  font-weight: bold;
}
.close:hover {
  color: darkgray;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-content > div{
  flex: 2;
}

.modal-content > form{
  flex: 3;
  padding: 10px;
}

.modal-content > form input{
  width:230px;
  padding: 7px;
  margin-bottom: 10px;
}

.modal-content > form #acad{
  margin-bottom: 10px;
  display: none;
  gap:10px;
}

.modal-content #form-contact > div{
  display: flex;
}

#form-contact #mobile > div, #form-contact #email > div{
  width: 100%;
}

.modal-content #form-contact label{
  margin-bottom: 10px;
  font-size: 12px;
 color: #707070;
 display: block;
}

.modal-content .link{
  display: block;
   color: #0095b6;
   margin-top: 10px;
   margin-left: 10px;
   margin-bottom: 15px;
   width: 50%;
}

.modal-content .start, 
.modal-content .end{
  display:flex;
  gap:10px;
  margin-bottom: 10px;
}

.modal-content #college, .modal-content #highschool{
  display: none;
}

.modal-content #highschool{
 gap:10px;
}

.modal-content .link:hover{
  cursor: pointer;
}

#modal-post{
  height:700px;
  width:70%;
}

#modal-post .modal-content{
  overflow-y: auto;
  margin-bottom: 20px;
}

#modal-post .modal-content > div{
  flex-shrink: 0;
}

#modal-bio #form-bio{
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
}

#modal-post #form-post{
  flex-basis: 100%;
  display: flex;
}

#modal-post #form-post{
  flex-direction: column;
}

#modal-bio #form-bio #bio,
#modal-post #form-post #title,
#modal-post #form-post #description{
  flex: 0 0 100%;
  display: flex;
}

#modal-bio #form-bio #count, 
#modal-post #form-post #count{
  flex: 0 0 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}


.modal-content .header{
  display: flex;
  font-weight: 200;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-content .header:after {
  background: #d3d3d3;
  height: 1px;
  flex: 1;
  content: '';

}

.modal-content .header span{
  margin-right: 10px;
}

#modal-post .modal-content select{
  padding: 8px 10px;
  min-width: 200px;
}

.modal-content input, select, textarea{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}

#modal-bio #form-bio #count span:last-child{
  margin-right: 10px;
}

.modal-content textarea{
  flex-basis: 100%;
  height: 150px;
  margin:  auto;
  padding: 0;
  padding: 10px;
  outline: 0;
  font-size: 14px;
  resize: none;
  float: left;
  overflow-x:hidden;
  white-space: pre-wrap;
}

.modal-content #title textarea{
  height: 25px;
}


#form-basic #gender div {
  margin-bottom: 10px;
}

#form-basic div > p{
  margin-bottom: 5px;
  color: #707070;
  font-size: 12px;
}

#form-basic > div{
  margin-bottom: 10px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #e2202c;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5); 
  display: none;
}